body {
    font-family: 'Arial', sans-serif;
    background-color: #fff8f0; /* fond clair et neutre */
    color: #333;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    font-size: 19px;
    line-height: 1.6;
}
header {
    background-color: #f0e68c; 
    padding: 1px;
    text-align: center;
    border-bottom: 4px solid #008000; 
}
h1, h2 {
    text-align: center;
    text-decoration-line: underline;
}
footer {
    background-color: #008000; 
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
    margin-top: 40px;
}
.card1 {  
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.card2 {
    
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;    
}
#img1 {
    border: 4px groove gray;
    box-shadow: 0px 0px 10px black;
    width: 20%;
}
#img1:hover {
    padding: 5px;
    background: linear-gradient(to right, green, yellow, red);
}

#img2 {
    width: 35%;
    height: 650px;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 0px 0px 7px black
}
.video {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
iframe {
    border: 2px groove gray;
    box-shadow: 0px 0px 10px black;
}
.conclusion {
    width: 90%;
    text-align: center;
    font-style: italic;
    color: #444;
    background-color: #fff3e0;
    position: relative;
    left: 50px; 
    padding: 25px 20px;
    border-top: 3px solid #ff0000; 
    border-bottom: 3px solid #ff0000;
    border-radius: 10px;
    margin: 40px 20px;
}
